@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&family=Roboto:wght@300;400;700;900&display=swap");

@import url("componants/container.css");
@import url("componants/avatar.css");
@import url("componants/btn.css");
@import url("componants/banner.css");
@import url("componants/card.css");


body {
	font-family: 'Lora', serif;
	font-size: 18px;
}
h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;

}

@media (max-width: 960px) {
	.container {
		width: 700px
	}
}
@media (max-width: 760px){
	.container {
		width: 600px;
	}
}
@media (max-width: 500px){
	.container {
		width: 400px;
	}
}